# macOS
.DS_Store

# Node.js
node_modules/
dist/
coverage/
site/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VSCode
.vscode/

# Chrome extension build artifacts
*.zip

# npm package artifacts
*.tgz

# TypeScript
*.tsbuildinfo

# OS or IDE
.idea/
*.swp

# Optional cache
.pnpm-store/
